<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="application/javascript">
$(document).ready(function(){
	
	function	refresh_posts()
	{
		section = $('section');
		post = section.children('article').first();
		post_id = post.attr('id');
		
		i = post_id.replace(/\D/g, '');
		i = parseInt(i) + 1;
		
		$.ajax({
			url: '/ajax/posts/' + i + '',
			context: document.body
		}).done(function(data) {
			$(data).insertBefore(post);	
		});
	};
	
	setInterval(function(){
		refresh_posts();
	}, 5000);	
});
</script>

<section class="post-list">
{% include 'blog/post_ajax.html' %}
</section>