{% load markdown_deux_tags %}
{% for post in object_list %}
<article class="post" id="post-{{ post.pk }}">
	<header>
		<h3>{{ post.title }}</h3>
		<h5>{{ post.published_at }}</h5>
	</header>
	
	<p>
		{% if post.is_micro %}
			{{ post.content_html }}
		{% else %}
			<span class="summary">{{ post.content_html | truncatechars:160 }}</span>
			<span class="hidden">{{ post.content_html | markdown | linebreaks | safe }}</span>
		{% endif %}
	</p>
</article>
{% endfor %}