{% load markdown_deux_tags %}
<h1>Hi, {{ object.username }}</h1>

{% for post in object.userprofile.get_posts %}
<article>
	<header>
		<h3>{{ post.title }}</h3>
		<h5>{{ post.published_at }}</h5>
	</header>
	
	<p>
		{% if post.is_micro %}
			{{ post.content_html }}
		{% else %}
			<span class="summary">{{ post.content_html | truncatechars:160 }}</span>
			<span class="hidden">{{ post.content_html | markdown | linebreaks | safe }}</span>
		{% endif %}
	</p>
</article>
{% endfor %}